<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TimeEntryConnectionString"
        connectionString="Data Source=(local);Initial Catalog=TimeEntry;User ID=dev;Password=dev"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>